<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <form action="/login/getLogin" method="POST">
    <input type="email" name="email" id="">
    <input type="password" name="password" id="">
    <input type="submit" value="submit">
    </form>
    <button id="click">Press Me</button>


<tr>
   {{!-- {{#data}} --}}
    <form action="/login/insert" method="post" class="{{id}}">
    <input type="text"  name="id" value="{{id}}"><br>
    <input type="text"  name="fname" value="{{name}}"><br>
    <input type="text"  name="lname" value="{{lname}}"><br>
    <input type="text"  name="address" value="{{address}}"><br>
    <input type="text"  name="city" value="{{city}}"><br>
    <input type="submit" value="submit">
    {{!-- <button name="update"  class="btn-update" aria-placeholder="Update">Update</button><br>
    <button name="delete" class="btn-delete">Delete</button><br> --}}
    </form> 
 {{!-- {{/data}} --}}
</tr>




    <script>
        
{{!-- $("button").click(function(){
     console.log("Jai Shree Ram")    
}); --}}

$("button").click(function(){
  $.ajax({url: "https://api.publicapis.org/entries", success: function(result){
    {{!-- $("#div1").html(result); --}}
    console.log(result);
  }});
});



{{!-- to update data --}}
$(".btn-update").click(()=>{
  console.log("Update"+event.target.id)
});

$(".btn-delete").click(()=>{
  console.log("Deleted"+event.target.id)
});

</script>
</body>
</html>